@import '../../styles/variables.scss';

.secondary {
  :global(.MuiFormControl-root) {
    :global(.Mui-focused) {
      color: $waves-dark-violet;
    }

    :global(.MuiFormHelperText-root) {
      color: $waves-dark-violet;
    }
  }
  :global(.MuiFormLabel-root) {
    color: $waves-dark-violet;
  }

  :global(.MuiInputBase-root) {
    fieldset {
      border-color: $waves-dark-violet !important;
    }
  }

  :global(.MuiIconButton-edgeEnd) {
    color: $waves-dark-violet;
  }

  :global(.MuiInputBase-input) {
    color: $waves-dark-violet;
    padding: 1rem 1rem;
  }

  :global(.MuiInputBase-input::placeholder) {
    color: $waves-dark-violet;
  }
}

.primary {
  :global(.MuiFormControl-root) {
    :global(.Mui-focused) {
      color: $input-field-color;
    }

    :global(.MuiFormHelperText-root) {
      width: fit-content;
      color: $white;
    }
  }
  :global(.MuiFormLabel-root) {
    color: $input-field-color;
  }

  :global(.MuiInputBase-root) {
    fieldset {
      border-color: $input-field-color !important;
    }
  }

  :global(.MuiIconButton-edgeEnd) {
    color: $input-field-color;
  }

  :global(.MuiInputBase-input) {
    appearance: unset !important;
    background-color: transparent !important;
    color: $input-field-color !important;
    padding: 1rem 1rem;
  }

  :global(.MuiInputBase-input::placeholder) {
    color: $input-field-color;
  }
}
