$waves-dark-blue: #010320;
$waves-dark-violet: #120249;
$waves-med-violet: #22055a;
$waves-violet: #430694;
$waves-purple: #9d5ad7;

$actual-white: #fff;
$white: #e8e6e3;
$black: #000;
$black-text: #333;
$secondary-button-hover: #43069410;
$magenta: magenta;
$primary-alert-color: #c99fee;
$success-alert-color: #64c585;
$danger-alert-color: #e27c7c;
$warning-alert-color: #f7b731;
$success-icon-color: #00862f;
$warning-icon-color: #ed6c02;
$danger-icon-color: #a02c2c;
