$waves-dark-blue: #010320;
$waves-dark-violet: #120249;
$waves-med-violet: #22055a;
$waves-violet: #430694;
$waves-purple: #9d5ad7;

$actual-white: #fff;
$white: #e8e6e3;
$light-white: #e8e6e3cc;
$black: #000;
$black-text: #333;
$switch-secondary-bg: #8142d3;
$menu-bg-primary-hover: #43069477;
$menu-bg-secondary: #8142d3;
$menu-bg-secondary-hover: #8142d344;
$secondary-button-hover: #43069410;
$magenta: magenta;
$primary-alert-color: #c99fee;
$success-alert-color: #64c585;
$danger-alert-color: #e27c7c;
$warning-alert-color: #f7b731;
$success-icon-color: #00862f;
$warning-icon-color: #c7a302;
$danger-icon-color: #a02c2c;
$star-icon-color: #faaf00;
$logo-text-color: #e3c4ff;
$foreground-background-color: #0b0327aa;
$nav-bg-color: #0b0327;
$nav-mobile-bg-color: #0b0327aa;
$main-bg-color: #15023c66;
$table-bg-color: #01032066;
$table-row-color: #8142d311;
$table-row-hover-color: #8142d344;
$pagination-color: #8142d344;
$disabled-pagination-color: #8142d322;
$disabled-text-color: #e8e6e355;
$card-hover-glow-color: #8142d3aa;
$card-content-gradient-top: #0003;
$card-content-gradient-bottom: #0005;
$datepicker-background: #8142d3aa;
$weekday-text-color: #e8e6e3aa;
$event-card-bg-color: #010320bb;
$current-date-border-color: #e8e6e3aa;

$input-field-color: #e3c4ff;
