@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 5px;
    height: 200px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #464646;
    border-radius: 2rem;
  }

  ::-webkit-scrollbar-track {
    border-radius: 2rem;
    background-color: #777;
  }

  ::-moz-selection {
    color: $white;
    background: $waves-purple;
  }

  ::selection {
    color: $white;
    background: $waves-purple;
  }
}

:root {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: fixed #120249 url('../assets/error.png') center/cover no-repeat;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
