@import '../../styles/variables.scss';

.rating-wrapper {
  font-size: inherit;

  :global(.MuiRating-root) {
    font-size: inherit;
    :global(.MuiRating-decimal) {
      font-size: inherit;
    }
  }
}
