@import '../../styles/variables.scss';

.success-icon {
  fill: $success-icon-color !important;
}

.warning-icon {
  fill: $warning-icon-color !important;
}

.danger-icon {
  fill: $danger-icon-color !important;
}

.star-wrapper {
  fill: $star-icon-color !important;
}
