{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "property-no-vendor-prefix": null,
    "selector-pseudo-element-no-unknown": null,
    "color-named": "never",
    "color-no-hex": true,
    "color-no-invalid-hex": true,
    "function-disallowed-list": ["rgb", "hwb", "lch"],
    "selector-attribute-operator-disallowed-list": ["class", "id"],
    "custom-property-pattern": [
      "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
      { "message": "Expected custom property name to be kebab-case" }
    ],
    "number-max-precision": 3,
    "no-descending-specificity": null
  },
  "unit-allowed-list": ["%", "px", "rem", "vh", "vw", "lvh", "dvh", "svh"],
  "cache": true,
  "fix": true,
  "overrides": [
    {
      "files": ["./packages/src/styles/colors.scss", "./packages/component-library/**/*.scss"],
      "rules": {
        "color-no-invalid-hex": null,
        "color-no-hex": null,
        "color-named": null,
        "function-disallowed-list": null,
        "selector-class-pattern": null,
        "no-invalid-position-at-import-rule": null
      }
    },
    {
      "files": "./packages/src/components/**/*.scss",
      "rules": {
        "selector-class-pattern": null,
        "selector-pseudo-element-no-unknown": null,
        "selector-pseudo-class-no-unknown": null
      }
    }
  ]
}
