@import '../../styles/variables.scss';

.primary {
  :global(.MuiFormControl-root) {
    :global(.Mui-focused) {
      color: $waves-dark-violet;
    }
  }
  :global(.MuiFormLabel-root) {
    color: $waves-dark-violet;
  }

  :global(.MuiInputBase-root) {
    :global(.MuiTypography-root) {
      color: $waves-dark-violet;
    }

    fieldset {
      border-color: $waves-dark-violet !important;
    }
  }

  :global(.MuiInputBase-input) {
    color: $waves-dark-violet;
  }

  :global(.MuiInputBase-input::placeholder) {
    color: $waves-dark-violet;
  }
}

.secondary {
  :global(.MuiFormControl-root) {
    :global(.Mui-focused) {
      color: $waves-purple;
    }
  }
  :global(.MuiFormLabel-root) {
    color: $waves-purple;
  }

  :global(.MuiInputBase-root) {
    :global(.MuiTypography-root) {
      color: $waves-purple;
    }

    fieldset {
      border-color: $waves-purple !important;
    }
  }

  :global(.MuiInputBase-input) {
    color: $waves-violet;
  }

  :global(.MuiInputBase-input::placeholder) {
    color: $waves-purple;
  }
}
