@import '../../styles/variables.scss';

.pagination {
  background: transparent;

  :global(.MuiPaginationItem-root) {
    color: $light-white;
  }

  :global(.Mui-selected) {
    background-color: $pagination-color !important;
  }
}

.disabled {
  :global(.MuiPaginationItem-root) {
    color: $disabled-text-color;
  }

  :global(.Mui-selected) {
    background-color: $disabled-pagination-color !important;
  }
}
