@import '../../styles/variables.scss';

.switch-wrapper {
  padding-left: 0.2rem;
}

.primary {
  :global(.MuiSwitch-switchBase) {
    color: $input-field-color !important;
  }
  :global(.MuiSwitch-track) {
    background-color: $menu-bg-secondary !important;
  }
  :global(.MuiTypography-root) {
    color: $input-field-color !important;
  }
}

.secondary {
  :global(.MuiSwitch-switchBase) {
    color: $waves-purple !important;
  }
  :global(.MuiSwitch-track) {
    background-color: $switch-secondary-bg !important;
  }
}
