$waves-dark-blue: #010320;
$waves-dark-violet: #120249;
$waves-med-violet: #22055a;
$waves-violet: #430694;
$waves-purple: #9d5ad7;

$white: #e8e6e3;
$black: #000;
$black-text: #333;
$secondary-button-hover: #43069410;
