@import '../../styles/variables.scss';

.search-wrapper {
  display: flex;
  width: 200px;
  height: 50px;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  //   border: 1px solid $input-field-color;
  padding: 1rem;
  color: $actual-white;

  .search-input-wrapper {
    width: 100%;
    height: inherit;
    margin-bottom: 1.45rem;

    :global(.MuiInputBase-input) {
      height: 35px;
    }
  }

  .search-icon {
    cursor: pointer;
    height: 1.6rem;
    width: 1.6rem;
  }
}
