@import '../../styles/variables.scss';

.badge-container {
  margin-left: 10px;
}

.badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0.3rem;
}

.primary {
  :global(.MuiBadge-badge) {
    background-color: $waves-med-violet;
    color: $white;
  }
}

.secondary {
  :global(.MuiBadge-badge) {
    background-color: $secondary-button-hover;
    color: $waves-dark-violet;
    border: 1px solid $waves-dark-violet;
  }
}

.error {
  :global(.MuiBadge-badge) {
    background-color: $danger-icon-color;
    color: $white;
  }
}

.warning {
  :global(.MuiBadge-badge) {
    background-color: $warning-alert-color;
    color: $white;
  }
}

.light {
  :global(.MuiBadge-badge) {
    background-color: transparent;
    color: $primary-alert-color;
    border: 1px solid $primary-alert-color;
  }
}

.dark {
  :global(.MuiBadge-badge) {
    background-color: transparent;
    color: $waves-dark-violet;
  }
}
