@import '../../styles/variables.scss';

.alert-container {
  width: auto;
  min-width: 300px;
  max-width: 20rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  :global(.MuiAlert-action) {
    padding-top: 0;
  }
}

.info {
  background-color: $primary-alert-color !important;
  border-color: $primary-alert-color !important;
  :global(.MuiAlert-icon) {
    display: none;
  }
}

.success {
  background-color: $success-alert-color !important;
  border-color: $success-alert-color !important;
  :global(.MuiAlert-icon) {
    color: $success-icon-color !important;
  }
}

.error {
  background-color: $danger-alert-color !important;
  border-color: $danger-alert-color !important;
  :global(.MuiAlert-icon) {
    color: $danger-icon-color !important;
  }
}

.warning {
  background-color: $warning-alert-color !important;
  border-color: $warning-alert-color !important;
  :global(.MuiAlert-icon) {
    color: $warning-icon-color !important;
  }
}
