@import '../../../styles/variables.scss';

.event-loading {
  height: inherit;
  width: 100%;
}

.event-friendly-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: $heading-font;
  color: $white;
  text-shadow: $text-shadow-purple;
  gap: 2rem;
}

.select-wrapper {
  width: 10rem;
  padding: 0.5rem 0;
}

.event-container {
  padding: 1rem;
  overflow-y: auto;

  .event-info-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .event-info-header-left,
    .event-info-header-right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .event-info-header-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .event-title {
        font: $heading-font;
        color: $white;
      }

      .event-sub-title {
        font: $subtext-font;
        color: $disabled-text-color;
      }
    }

    .event-info-header-right {
      .event-actions {
        .create-button {
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .event-create-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;

    .event-view-body {
      align-self: flex-start;
      max-width: 52rem;
    }

    .event-create-fields {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .event-create-fields-title {
        margin-top: 2rem;
        width: 100%;
        text-align: center;
        font: $subheading-font;
        color: $white;
      }

      .event-create-fields-body {
        .event-create-field {
          .event-create-field-label {
            margin-left: 0.5rem;
            font: $normal-text-font;
            color: $white;
          }

          .event-create-field-sub-title {
            margin-left: 1rem;
            font: $small-text-font;
            font-style: italic;
            color: $disabled-text-color;
          }
        }
      }
    }
  }
}
