@import '../../../styles/variables.scss';

.edit-profile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .edit-form-heading {
    font: $heading-font;
    color: $white;
    margin-bottom: 2rem;
  }

  .edit-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    .info-fields {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;

      .input-field-container {
        width: 25rem;
      }
    }

    .password-fields {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;
      margin: -2rem 0;

      .input-field-container {
        width: 25rem;
      }
    }

    .checkbox {
      margin-bottom: 1rem;
    }

    .button {
      width: 10rem;
      height: 3rem;
    }
  }
}
