@import '../../styles/variables.scss';

.profile-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: left;
  text-wrap: balance;
  white-space: wrap;
  padding: 2rem;

  .left-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    bottom: 15rem;

    .profile-image-text {
      font: $heading-font;
      color: $white;
      margin-top: 5rem;
      margin-bottom: -1rem;
    }

    .profile-image-container {
      aspect-ratio: 1;
      height: 20rem;
      border-radius: 50%;
      border: 1px solid $waves-dark-blue;
      overflow: hidden;

      .profile-image {
        height: inherit;
        width: inherit;
      }
    }

    .change-delete-buttons {
      height: 5rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      .change-button,
      .delete-button {
        width: 3rem;
        height: 3rem;
      }
    }

    .logout-button-container {
      height: 0rem;

      .logout-button {
        height: 3rem;
        width: 9rem;
      }
    }
  }

  .right-container {
    height: 100%;
    min-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @include table-background-style;
    padding: 0 1rem;

    .profile-info-container {
      height: 75%;
      width: 100%;
    }

    .edit-profile-button {
      height: 3rem;
      width: 10rem;
      margin-bottom: 3rem;
    }
  }
}
