@import '../../styles/variables.scss';

.primary {
  :global(.MuiFormControl-root) {
    :global(.Mui-focused) {
      color: $input-field-color;
    }
  }
  :global(.MuiFormLabel-root) {
    color: $input-field-color;
  }

  :global(.MuiInputBase-root) {
    fieldset {
      border-color: $input-field-color !important;
    }
  }

  :global(.MuiIconButton-root) {
    color: $input-field-color;
  }

  :global(.MuiInputBase-input) {
    color: $input-field-color;
  }

  :global(.MuiInputBase-input::placeholder) {
    color: $input-field-color;
  }
}

.secondary {
  :global(.MuiFormControl-root) {
    :global(.Mui-focused) {
      color: $waves-purple;
    }
  }
  :global(.MuiFormLabel-root) {
    color: $waves-purple;
  }

  :global(.MuiInputBase-root) {
    fieldset {
      border-color: $waves-purple !important;
    }
  }

  :global(.MuiIconButton-root) {
    color: $waves-purple;
  }

  :global(.MuiInputBase-input) {
    color: $waves-violet;
  }

  :global(.MuiInputBase-input::placeholder) {
    color: $waves-purple;
  }
}
