@import '../../styles/variables.scss';

.loading-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $loader-bg-color;
  overflow-x: hidden;
  color: $white;
}

.spinner {
  aspect-ratio: 1;
  stroke-width: 8px;
  height: 20rem;
  margin-bottom: 8rem;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
