@import '../../styles/variables.scss';

.button-wrapper {
  height: inherit;
  width: inherit;
  :global(.MuiButton-root) {
    outline: none;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3em;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    text-transform: none;
  }
}

.primary {
  :global(.MuiButton-colorPrimary) {
    color: $white;
    background-color: $waves-violet;
    &:not(:disabled) {
      border: 1px solid $waves-violet;
      &:hover,
      &:active,
      &:focus-visible {
        background: $waves-med-violet;
        border-color: $waves-med-violet;
      }
    }
    &:disabled {
      pointer-events: visible;
      cursor: not-allowed;
    }
  }
}

.secondary {
  :global(.MuiButton-colorSecondary) {
    color: $input-field-color;
    background-color: transparent;
    &:not(:disabled) {
      border: 2px solid $input-field-color;
      &:hover,
      &:active,
      &:focus-visible {
        background: $secondary-button-hover;
      }
    }
    &:disabled {
      pointer-events: visible;
      cursor: not-allowed;
    }
  }
}

.text {
  :global(.MuiButton-textPrimary) {
    color: $input-field-color;
    background-color: transparent;
    border: transparent;
    text-decoration: none;
    padding: 0.5rem 1rem;
    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus-visible {
        text-decoration: none;
        background: $disabled-pagination-color;
      }
    }
    &:disabled {
      text-decoration: underline;
      background-color: transparent;
      pointer-events: visible;
      cursor: not-allowed;
    }
  }

  :global(.MuiButton-textSecondary) {
    color: $waves-purple;
    background-color: transparent;
    border: transparent;
    text-decoration: underline;
    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus-visible {
        color: $waves-violet;
        text-decoration: underline;
        background: none;
      }
    }
    &:disabled {
      text-decoration: underline;
      background-color: transparent;
      pointer-events: visible;
      cursor: not-allowed;
    }
  }
}
