@import '../../styles/variables.scss';

.signup-login-container {
  height: 100vh;
  width: 100%;
  background: fixed $waves-dark-violet url('../../assets/signup-login.svg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .logo {
    font: $logo-font;
    color: $logo-text-color;
    text-shadow: $text-shadow-purple;
  }

  .text {
    text-wrap: balance;
    font:
      normal normal 700 2rem/1.5 'Open Sans',
      sans-serif;
    color: $white;
    text-shadow: $text-shadow-purple;
  }

  .button-container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .button-wrapper {
      height: 60px;
      width: 200px;
    }
  }
}
