@import '../../styles/variables.scss';

.calendar-page-container {
  color: $white;

  .calendar-page-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    text-wrap: balance;
    white-space: wrap;
    padding: 2rem;

    .calendar-page-heading {
      font: $heading-font;
      padding-bottom: 0.3rem;
    }

    .calendar-page-text {
      font: $tall-text-font;
      color: $light-white;
    }
  }

  .calendar-and-events-container {
    height: 44rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 1rem;
    @include table-background-style(0.5rem);
    border-radius: 2rem;

    .events-container {
      width: 47.3vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .calendar-container {
      .calendar {
        height: 44rem;
      }
    }
  }
}

@media only screen and (max-width: 1916px) {
  .calendar-page-container {
    .calendar-and-events-container {
      .events-container {
        width: 40vw;
      }
    }
  }
}

@media only screen and (max-width: 1692px) {
  .calendar-page-container {
    .calendar-and-events-container {
      gap: 2rem;
      background-color: transparent;
      border: none;
      backdrop-filter: none;
      .events-container {
        width: 40vw;
        @include table-background-style(0.5rem);
        border-radius: 2rem;
      }
    }
  }
}
