@import '../../styles/variables.scss';

.user-home-container {
  color: $white;

  .user-home-welcome-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    text-wrap: balance;
    white-space: wrap;
    padding: 2rem;

    .welcome-heading {
      font: $heading-font;
      padding-bottom: 0.5rem;

      .welcome-name {
        color: $logo-text-color;
        text-shadow: $text-shadow-card;
      }
    }

    .welcome-text {
      font: $subheading-font;
    }
  }

  .user-home-registered-events-container,
  .recommended-events-carousel-container {
    display: flex;
    justify-content: center;
  }

  .user-home-recommended-events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    .recommended-events-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      text-wrap: balance;
      white-space: wrap;
      padding: 2rem;

      .recommended-events-heading {
        font: $subheading-font;
        padding-bottom: 0.2rem;
      }

      .recommended-events-text {
        font: $tall-text-font;
        color: $light-white;
      }
    }
  }
}
