@import '../../../styles/variables.scss';

.admin-events-footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-wrap: balance;
  white-space: wrap;
  padding: 0 1rem 0 0;

  .admin-events-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .admin-events-info-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;

      .admin-events-info {
        font: $small-text-font;
        color: $disabled-text-color;
      }

      .admin-events-count {
        color: $light-white;
      }
    }
  }
}
