@import '../../styles/variables.scss';

.saved-events-loading {
  height: 30rem;
}

.saved-events-container {
  color: $white;

  .saved-events-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    text-wrap: balance;
    white-space: wrap;
    padding: 2rem;

    .saved-events-heading-group {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .saved-events-heading,
      .saved-events-count {
        font: $heading-font;
        padding-bottom: 0.3rem;
      }

      .saved-events-count {
        color: $input-field-color;
      }

      .saved-events-text {
        font: $tall-text-font;
        color: $light-white;
      }
    }
  }

  .saved-events-filters {
    margin-top: -0.5rem;
    padding: 0 1rem 1rem 1rem;

    .search-sort-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $table-bg-color;
      border-radius: 1rem;
      backdrop-filter: blur(0.2rem);
      padding: 1rem 0;

      .search-wrapper {
        width: 300px;
        margin: 0 0 1.5rem 1.5rem;
        height: 30px;
      }

      .sort-wrapper {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}
